{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        {% if variable == True %}
            <link rel="stylesheet" href="{% static 'styles2.css' %}">
        {% endif %}
        {% if variable == False %}
            <link rel="stylesheet" href="{% static 'styles2-light.css' %}">
        {% endif %}
    </head>
    <body>
        <div class="texting">
            <Text>Hi. My name is Pavel Mularchick, and this is my pet-project.<p></p>
            This app was made to make your life easier by being able to easily plan and manage your daily tasks.<p></p>
            Made with Django framework and SQLite database.<p></p></Text>
        </div>
        
        <a href="/"><button class="thebutton" href="/">Go back</button></a>
    </body>
</html>
