{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo list</title>
        
        {% if variable == True %}
            <link rel="stylesheet" href="{% static 'styles1.css' %}">
        {% endif %}
        {% if variable == False %}
            <link rel="stylesheet" href="{% static 'styles1-light.css' %}">
        {% endif %}
    </head>
    <body>
        <p></p>
        <div class="bottomlinks">
            <a class="nuke" href="/clean">Delete all tasks</a>
            <a href="/about" class="nuke">About the project</a>
            <a href="/switch" class="nuke">Switch theme</a>
        </div>
        <form class="thecontentscreen">
            {% for task in tasks_list %}
                <div class="thetaskitself">
                    <tr>
                        <td><a class="thetasktext">{{task.task_text}}</a></td>
                        <p></p>
                        {% if task.is_it_done == False %}
                            <span class="ui gray label">not complete❌</span>
                        {% else %}
                            <span class="ui green label">complete✅</span>
                        {% endif %}
                        <p></p>
                    </tr>
                    {% if task.is_it_done == False %}
                        <a class="buttonmarkdone" href="/done/{{ task.id }}">Mark Done</a>
                    {% else %}
                        <a class="buttonmarkdone" href="/done/{{ task.id }}">Mark Undone</a>
                    {% endif %}
                    <a class="buttondelete" href="/delete/{{ task.id }}">Delete</a>
                    <p></p>
                </div>
            {% endfor %}
        </form>
        <p></p><p></p>
        <form class="formforinput" action="/add" method="post">
            {% csrf_token %}
            <div class="field">
                <input class="inputfield" type="text" name="task_text" placeholder=" Enter New ToDo Task...">
                <br>
            </div>
            <button class="sendinput" type="submit">Enter</button>
        </form>
    </body>
</html>