{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>to do</title>
        <link rel="stylesheet" href="{% static 'styles1.css' %}">
    </head>
    <body>
        <form class="ui form" action="/add" method="post">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="task_text" placeholder=" Enter New ToDo Task..." class="inputting">
                <br>
            </div>
            <!--<button class="button1" type="submit">Enter</button>-->
        </form>
        <p></p>
        <form class="thisistr">
            {% for task in tasks_list %}
                <tr class="thisistr">
                    <td class="headerr">{{task.task_text}}</td>
                    <p></p>
                    {% if task.is_it_done == False %}
                        <span class="ui gray label">(not complete)</span>
                    {% else %}
                        <span class="ui green label">(complete)</span>
                    {% endif %}
                </tr>
                {% if task.is_it_done == False %}
                    <a class="uibutton" href="/done/{{ task.id }}">Mark Done</a>
                {% else %}
                <a class="uibutton" href="/done/{{ task.id }}">Mark Undone</a>
                {% endif %}
                <a class="uibutton" href="/delete/{{ task.id }}">Delete</a>
                <p></p>
            {% endfor %}
        </form>
        <a href="/clean">Clean the list!</a>
    </body>
</html>