{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo list</title>
        <link rel="stylesheet" href="{% static 'styles1.css' %}">
    </head>
    <body>
        <p></p>
        <form class="thecontentscreen">
            {% for task in tasks_list %}
                <tr>
                    <td class="headerr">{{task.task_text}}</td>
                    <p></p>
                    {% if task.is_it_done == False %}
                        <span class="ui gray label">(not complete)</span>
                    {% else %}
                        <span class="ui green label">(complete)</span>
                    {% endif %}
                </tr>
                {% if task.is_it_done == False %}
                    <a class="uibutton" href="/done/{{ task.id }}">Mark Done</a>
                {% else %}
                <a class="uibutton" href="/done/{{ task.id }}">Mark Undone</a>
                {% endif %}
                <a class="uibutton" href="/delete/{{ task.id }}">Delete</a>
                <p></p>
            {% endfor %}
        </form>
        
        <p></p><p></p>
        <form class="formforinput" action="/add" method="post">
            {% csrf_token %}
            <div class="field">
                <input class="inputfield" type="text" name="task_text" placeholder=" Enter New ToDo Task...">
                <br>
            </div>
            <button class="sendinput" type="submit">Enter</button>
        </form>
        <a class="nuke" href="/clean">(delete all)</a>
    </body>
</html>