body {
    flex-direction: column;
    background-color: rgb(16, 16, 16);   
}
.nuke {
    color: rgb(193, 193, 193);
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.formforinput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: fit-content;
    justify-content: center;
}
.inputfield {
    border-radius: 20px;
    padding: 10px;
    padding-inline: 150px;
    font-size: 40;
    background-color: rgb(50, 49, 53);
    color: white;
}
.sendinput {
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgb(50, 49, 53);
    color: white;
}
.thecontentscreen {
    background-color: rgb(50, 49, 53);
    border-radius: 5px;
    display:flexbox;
    height:85vh;
    overflow: auto;
    color: white;
    font-size:large;
    justify-items: center;
}
a {
    color: white;
}