.texting {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-self: center;
    margin-top: 30vh;
    background-color: rgb(36, 36, 36);
    border-radius: 30px;
    padding: 5vh;
    color: white;
}
body {
    background-color: black;
}
.thebutton {
    display: flex;
    background-color: rgb(36, 36, 36);
    padding: 1vh;
    justify-self: center;
    align-self: center;
    margin-top: 1vh;
    border-radius: 15px;
    color: white;
}